td , th {
    background-color: transparent !important;
    color:white !important;
}

.mainImage{
    height:7rem;
}
.searfor{
    height: 10%;
}
.weatherCom{
    height: 100%;
    margin: 5rem;
    justify-content: center;
    align-items: center;
}
.col-5{
    height: 100%;
}
.tempreture{
    font-size: 4em;
}
.wcard{
    height: 90%;
}